body {
  margin: 0px; }

.mdl-menu__container {
  right: 16px !important; }

.routeAnimated-enter {
  animation: zoomIn 0.3s both ease-in;
  z-index: 9999; }

.routeAnimated-leave {
  opacity: 1; }

.routeAnimated-leave.routeAnimated-leave-active {
  opacity: 0; }
